.alert-info {
  color: #fff !important;
  background: $color-info !important;
}

.alert-success {
  color: #fff !important;
  // background: rgba(92,184,17,.9) !important;
  background: $color-success !important;

}

.alert-warning {
  color: #fff !important;
  background: $color-warning !important;
}

.alert-error {
  color: #fff !important;
  background: $color-error !important;
}
