.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

  .card-container {
    padding: 15px;
  }

  &.card-shadow {
    margin-bottom: 15px;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.14);
    }
  }

  &.card-button {
    cursor: pointer;
    height: 95%;
  }
}

.card-profile-public {
  &:after {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  &:hover {
    // box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.14);
  }

  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;

  .card-title {
    margin-top: 15px;
    margin-bottom: 0.05rem;
    font-size: 0.95rem;
  }

  .card-body {
    padding: 15px !important;
    margin: 0 !important;
  }

  .card-icon {
    padding: 10px 0 0px;

    i {
      font-size: 55px;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      width: 130px;
      line-height: 130px;
      height: 130px;
    }

    mat-icon {
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      width: 130px;
      // line-height: 130px;
      height: 130px;
      padding: 35px !important;
      color: rgba(0, 0, 0, 0.87);
      //color: red;
    }
  }

  h1 {
    small {
      font-size: 18px;
      display: inline-flex;
      height: 0;

      &:first-child {
        position: relative;
        top: -17px;
        font-size: 26px;
      }
    }
  }


  ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;

    li {
      color: $color-gray;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid rgba($color-gray, .3);

      &:last-child {
        border: 0;
      }

      b {
        color: $color-black;
      }

      i {
        top: 6px;
        position: relative;
      }
    }
  }

  &.card-background,
  &[class*="bg-"] {
    ul {
      li {
        color: $color-white;
        border-color: rgba($color-white, .3);

        b {
          color: $color-white;
          font-weight: 700;
        }
      }
    }

    [class*="text-"],
    .card-category {
      color: $color-white !important;
    }
  }

  .card-footer {
    z-index: 2;
    background-color: transparent;
    border: 0;
  }

  .card-premium {
    color: $color-primary;
    position: absolute;
    right: 7px;
  }
}

@media screen and (min-width: 577px) {

  .card-profile-public {
    width: 225px;
    max-width: 225px;
  }
}
