$color-primary: #7FB820 !default;
$color-secondary: #595959 !default;

$color-info: #17a2b8 !default;
$color-success: #5CB811 !default;
$color-warning: #ffc107 !default;
$color-error: #dc3545 !default;
$color-cancel: #999 !default;
$color-default: #646464 !default;

$color-white: #fff !default;
$color-black: #000 !default;
$color-gray: #6c757d !default;