@import '~@angular/material/theming';
@include mat-core();

$mat-alternate: (50: #fff,
100: $color-primary,
200: #b41f0e,
// 200: #e91e63,
contrast: (50: $color-primary,
100: #fff,
200: $light-primary-text,
));

$my-app-accent: mat-palette($mat-alternate, 50);
$my-app-primary: mat-palette($mat-alternate, 100);
$my-app-warn: mat-palette($mat-alternate, 200);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $app-accent: mat-palette($mat-alternate, 50);
  $app-primary: mat-palette($mat-alternate, 100);
  $app-warn: mat-palette($mat-alternate, 200);

  // Create the theme object (a Sass map containing all of the palettes).
  $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($app-theme);
}
