.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-secondary !important;
}


.text-color-info {
  color: $color-info !important;
}

.text-color-success {
  color: $color-success !important;
}

.text-color-warning {
  color: $color-warning !important;
}

.text-color-error {
  color: $color-error !important;
}

.text-color-cancel {
  color: $color-cancel !important;
}

.text-color-default {
  color: $color-default !important;
}


.text-color-white {
  color: $color-white !important;
}
.text-color-gray {
  color: $color-gray !important;
}
